simulations/Lib/*
simulations/Scripts/*
simulations/share/*
simulations/old/*
simulations/renders/*
simulations/.idea/*
token
simulations/.vscode
simulations/__pycache__
simulations/roadsign_2
simulations/dist
simulations/build
simulations/complete_algorithm.spec
