simulations/Lib/*
simulations/Scripts/*
simulations/share/*
simulations/old/*
simulations/renders/*
*/.idea/
.idea/
token
*/.vscode/
.vscode/
simulations/__pycache__
simulations/roadsign_2
simulations/dist
simulations/build
